body {
	align:center;	
	z-index: 0;
	font-family: 'Oswald', sans-serif;

}
.jumbotron {
	height: 200px;
	background-color: #5e5e5f;
}

.row-content {
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

/*jumbotron*/
hr {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 40%;
}
.jumbotron h3 {
	margin-top: 10px;
	padding-left: 34%;
	color: #fff;
}
.jumbotron h5 {
	padding-left: 34%;
	color: #fff;
}
.jumbotron i {
	color: #fff;
}
.jumbotron span {
	color: #fff;
}

/*aabout_me*/
#about_me img {
	height: 400px;
	width: 400px;
}