
    <div class="container" ng-controller="IndexController">
        <div class="row row-content">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <h3 align=center>Our Lipsmacking Culinary Creations</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
				<div class="media">
                    <div class="media-left media-middle">
                        <a ui-sref="app.dishdetails({id:dishes[0].id})">
                            <img class="media-object img-thumbnail" ng-src={{dishes[0].image}} alt="Uthappizza">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dishes[0].name}}
                         <span class="label label-danger">{{dishes[0].label}}</span>
                         <span class="badge">{{dishes[0].price | currency}}</span></h2>
                            <p>{{dishes[0].description}}</p>
                    </div>            
                </div>
            </div>
        </div>


        <div class="row row-content">
            <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
                <h3 align=center>This Month's Promotions</h3>
            </div>
            <div class="col-xs-12 col-sm-9">
				<div class="media">
                    <div class="media-body">
                        <h2 class="media-heading">{{promotions[0].name}}
                         <span class="label label-danger">{{promotions[0].label}}</span>
                         <span class="badge">{{promotions[0].price | currency}}</span></h2>
                            <p>{{promotions[0].description}}</p>
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <image class="media-object img-thumbnail" ng-src="{{promotions[0].image}}" alt="Buffet">
                        </a>
                    </div>            
                </div>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <h3 align=center>Meet our Culinary Specialists</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
				<div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object img-thumbnail" ng-src={{leadership.image}} alt="Alberto Somayya">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{leadership.name}}
                            <span class="label">{{leadership.designation}}</span></h2>
                            <p>{{leadership.description}}</p>
                    </div>            
                </div>
            </div>
        </div>
    </div>
